.onav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 80px;
  padding: 0px 30px;
  vertical-align: middle;
  background: #14141C;
  font-family: cursive; }
  .onav a {
    color: #b1b3be;
    text-decoration: none;
    font-size: 16px; }

.onav-brand {
  position: relative;
  padding-top: 30px;
  padding-top: 32px;
  float: left;
  width: 150px;
  font-weight: bold; }

input[type="checkbox"].onav-toggle-checkbox {
  display: none; }
  @media only screen and (max-width: 767px) {
    input[type="checkbox"].onav-toggle-checkbox:checked + label {
      right: 30px; }
    input[type="checkbox"].onav-toggle-checkbox:checked + label span.onav-burger-1 {
      transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg);
      top: 6px; }
    input[type="checkbox"].onav-toggle-checkbox:checked + label span.onav-burger-2 {
      transform: scale(0.1, 1);
      -webkit-transform: scale(0.1, 1);
      opacity: 0; }
    input[type="checkbox"].onav-toggle-checkbox:checked + label span.onav-burger-3 {
      transform: rotate(135deg);
      -webkit-transform: rotate(135deg);
      top: -6px; }
    input[type="checkbox"].onav-toggle-checkbox:checked ~ .onav-main {
      transform: translate(0, 0); }
    input[type="checkbox"].onav-toggle-checkbox:checked ~ .onav-overlay {
      display: block;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: #2B2E39;
      opacity: 0.7; } }

@media only screen and (max-width: 767px) {
  .onav-toggle {
    position: absolute;
    padding-top: 9px;
    top: 30px;
    right: 30px;
    cursor: pointer;
    z-index: 5001;
    background: transparent; } }
@media only screen and (min-width: 768px) {
  .onav-toggle {
    display: none; } }

.onav-burger {
  display: block;
  position: relative;
  width: 22px;
  height: 3px;
  border-radius: 1px;
  background: #b1b3be;
  margin: 3px 0;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out; }

.onav-main {
  z-index: 5000;
  height: 80px; }
  .onav-main ul {
    list-style: none;
    padding: 0;
    right: 0; }
  @media only screen and (max-width: 767px) {
    .onav-main {
      position: fixed;
      top: 0;
      right: 0;
      height: 100%;
      width: 150px;
      background: #2B2E39;
      padding: 30px;
      padding-top: 95px;
      transform: translate(350px, 0);
      transition: transform 0.3s ease-in-out; } }
  @media only screen and (min-width: 768px) {
    .onav-main {
      background: #14141C; } }

@media only screen and (max-width: 767px) {
  ul.onav-menu > li {
    margin-top: 20px; } }
@media only screen and (min-width: 768px) {
  ul.onav-menu {
    display: inline-block;
    margin-bottom: 0; }
    ul.onav-menu > li {
      display: inline-block;
      padding-left: 15px;
      padding-right: 15px; } }

@media only screen and (min-width: 768px) {
  ul.onav-menu > li {
    height: 32px;
    padding-top: 18px; } }
ul.onav-menu > li > a {
  font-weight: bold; }

@media only screen and (max-width: 767px) {
  ul.onav-right {
    margin-top: 15px; } }
@media only screen and (min-width: 768px) {
  ul.onav-right {
    float: right; } }

@media only screen and (min-width: 768px) {
  li.onav-dropdown {
    position: relative; }
    li.onav-dropdown:hover {
      background: #2B2E39;
      cursor: pointer; }
    li.onav-dropdown:hover .onav-submenu {
      display: table;
      transform: translate(0, 0); } }

@media only screen and (min-width: 768px) {
  ul.onav-submenu {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 175px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #14141C;
    transform: translate(0, -180px);
    z-index: -1;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out; } }
@media only screen and (max-width: 767px) {
  ul.onav-submenu li {
    padding-left: 15px; } }
@media only screen and (min-width: 768px) {
  ul.onav-submenu li {
    padding: 15px; }
    ul.onav-submenu li:hover {
      background-color: #2B2E39;
      cursor: pointer; } }

@media only screen and (max-width: 767px) {
  .onav-caret {
    display: none; } }
@media only screen and (min-width: 768px) {
  .onav-caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent; } }

.onav-background {
  height: 80px;
  display: block; }

.onav-overlay {
  display: none; }

/*# sourceMappingURL=onav.css.map */
